.mapContainer {
    width: 100vw;
    height: 100vh;
}

.popup {
    color: darkblue;
    height: 120px;
    width: auto;
    margin-top: 5px;
}

.marker {
    background-color: green;
}

.leafletDivIcon {
    text-align: center;
}