body {
    margin: 0;
    padding: 0px;
    z-index: 1;
    display: block;
    overflow-y: auto;
}

* {
    box-sizing: border-box;
}

@font-face {
    font-family: customFont;
    src: local(Arial Unicode MS);
}


/* @font-face {
    font-family: customFont;
    src: url('tt0596m0-webfont.eot');
    src: url('tt0596m0-webfont.eot?#iefix') format('embedded-opentype'), url('tt0596m0-webfont.woff') format('woff'), url('tt0596m0-webfont.ttf') format('truetype'), url('tt0596m0-webfont.svg#custom-font') format('svg');
    unicode-range: U+370-FFFF;
} */

.table {
    font-family: 'custom-font', Arial Unicode MS, Arial, verdana;
    border-collapse: collapse;
    width: 100%;
    font-size: 14px;
    margin-top: 42px;
    /* z-index: 1; */
    text-align: left;
    position: relative;
}

.table td,
.table th {
    border: 1px solid #ddd;
    padding: 12px;
    max-width: 350px;
    word-wrap: break-word;
    /* position: relative; */
}

.table tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover {
    background-color: #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #007bff;
    color: white;
    position: sticky;
    top: 99px;
}

.select {
    border: none;
    margin-left: 10px;
}

.pagginationBox {
    width: 450px;
    position: absolute;
    right: 2px;
    height: 55px;
}

.button {
    margin-top: 15px;
    border: none;
}

#input {
    width: 50px;
    margin-right: 5px;
}

.select {
    margin-right: 5px;
    margin-left: 5px;
}

.boxCheck {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 350px;
    /* flex-wrap: wrap; */
    background-color: cornflowerblue;
    margin-top: -8px;
    margin-bottom: -8px;
    border-radius: 2px;
}

.boxCheck>* {
    /* flex: 1 1 5%; */
    border: 1px solid #007bff;
    padding: 5px;
    text-align: left;
    color: white;
    z-index: 3;
}

.func2 {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: 42px;
}

.func2>* {
    flex: 1 1 10rem;
}

.excelBtn {
    position: fixed;
    right: 15px;
    z-index: 9;
    margin-top: -5px;
}

.drop {
    position: fixed;
    right: 255px;
    z-index: 9;
    margin-top: -5px;
}

@media only screen and (max-width: 640px) and (orientation: portrait) {
    .table td {
        font-size: 11px;
    }
}

@media(max-width:550px) {
    .table thead {
        display: none;
    }
    .table,
    .table tbody,
    .table tr,
    .table td {
        display: block;
        width: 100%;
        padding-bottom: 15px;
        z-index: 1;
    }
    .table tr {
        margin-bottom: 15px;
    }
    .table tr:nth-child(even) {
        background-color: lightblue;
    }
    .table td {
        text-align: right;
        padding-left: 35%;
        text-align: right;
        position: relative;
    }
    .table td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 35%;
        padding-left: 10px;
        font-weight: bold;
        text-align: left;
        font-size: 12px;
        background: #007bff;
        color: white;
        border-radius: 2px;
        z-index: 1;
    }
    .table td,
    .table th {
        max-width: 550px;
        z-index: 1;
    }
}

@media only screen and (max-width: 440px) {
    .pagginationBox {
        width: auto;
        position: absolute;
        left: 2px;
        height: 55px;
    }
}

@media only screen and (max-width: 320px) {
    .boxCheck {
        display: grid;
        grid-template-columns: 100%;
        width: 162px;
        border-radius: 5px;
    }
}

@media only screen and (max-width: 305px) {
    .excelBtn {
        position: relative;
        padding-left: 15%;
        margin-bottom: 5px;
        margin-top: -2px;
    }
}