.container {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 245px;
    padding-top: 15px;
    padding-bottom: 25px;
    background-color: rgb(167, 229, 231);
    padding-left: 45px;
}

.card {
    padding-left: 5px;
    opacity: 0.75;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 9px;
    width: 650px;
    background-color: white;
    border-radius: 5px;
}

.buttonBox {
    padding-left: 5px;
    opacity: 0.75;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 9px;
    width: 650px;
    background-color: white;
    border-radius: 5px;
}

@media (max-width: 1300px) {
    .container {
        height: 245px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .card {
        width: auto;
    }
    .buttonBox {
        width: auto;
    }
}

@media (max-width: 780px) {
    .container {
        height: 417px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .card {
        width: auto;
    }
    .buttonBox {
        width: auto;
    }
}